@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary-dark1 text-white overflow-x-hidden flex flex-col min-h-screen w-screen relative;
  }
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 2em;
    @apply bg-primary-green;
  }
  li {
    position: relative;
  }
  .list-inside li::before {
    content: "";
    @apply absolute w-1.5 aspect-square bg-primary-green z-10 rounded-full -translate-y-1/2 -start-0;
    top: 12px;
  }
}

@layer components {
  .max-w-content {
    @apply max-w-6xl w-full mx-auto px-4 xl:px-0;
  }
}

@layer utilities {
  .h-sideMenu {
    height: calc(100vh - 64px);
  }

  .h-author {
    height: calc(100vh - 240px);
    max-height: calc(100vh - 240px);
  }
}

.shimmer {
  color: grey;
  display: inline-flex;
  mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
  background-repeat: no-repeat;
  animation: shimmer 1s infinite;
  max-width: 500px;
}

@keyframes shimmer {
  100% {
    mask-position: left;
  }
}

p {
  margin-bottom: 1.5rem;
}
